header
  background-color: #3f4049
  padding: 15px 0
  position: fixed
  width: 100%
  z-index: 10
  transition: 1.1s
  &.scroll-header
    padding: 5px 0
    transition: 1.1s
  .header-content
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flex
    display: -o-flex
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    @media(#{$max_tablets--landscape})
      padding: 0 20px
    .header-content__logo
      background: url(../../img/logo.png) no-repeat center/auto 100%;
      width: 150px
      height: 43px
    nav
      @media(#{$max_ipad})
        display: none
    .button
      @media(#{$max_ipad})
        display: none
    .mobile-menu-icon
      background-image: url("../../img/icon-mobile-menu.png")
      width: 34px
      height: 23px
      @media(#{$min_ipad})
        display: none
      @media(#{$max_ipad})
        display: block
  .mobile-menu
    width: 100%
    display: none
    margin-top: 20px
    ul
      padding-left: 20px
      li
        display: block
        margin-bottom: 10px
        margin-right: 0
        &:last-child
          margin-bottom: 0
